@media screen and (min-width:1024px) {
    /*desktop*/
}


@media screen and (max-width: 768px) {
    /*mobile*/
    .App{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 3.7fr 0.1fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
        ;
    }
    nav > ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}